*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(IMAGES/1.2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    text-align: center;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float:left;
    height: 70px;
}

.logo{
    color:black ;
    font-size: 35px;
    font-family: fantasy;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{ 
    width: 400px;
    float:left;
    height: 70px;
}

body {
    background-image: url('IMAGES/1.2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.home {
    text-align: center;
    background-image: none;
}

.details { 
    text-align: center;
    background-image: none;
}

.about {
    text-align: center;
    background-image: none;
}